<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service web.config
  Tells IIS to route all requests through Node.js (iisnode)
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't rewrite requests to static files that actually exist -->
        <rule name="StaticContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <!-- Route everything else through Node.js -->
        <rule name="DynamicContent">
          <action type="Rewrite" url="server/index.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode
      nodeProcessCommandLine="node"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>
